.kek{
  background-image: url("Images/jumbotron.jpg");
    background-size: cover;
}
.back {
  background-color: darkslategrey;
  color: lightgray;
}
h3{
  color: LemonChiffon;
}
#ona{
  color: black;
  background-size: cover;

}
.photo {
  display: inline;
}
.headerText{
  font-family:monospace;
}
.video{
  height: auto;
  max-width: 100%;
  display: block;
  align-items: center;
}
